[logging]
level = INFO

[graph]
base_path = /opt/otp/complex_rest/plugins/supergraph/graphs
tmp_path = /opt/otp/complex_rest/plugins/supergraph/tmp
id_name_map_path = /opt/otp/complex_rest/plugins/supergraph/id_name_map
